#body{
    background: var(--color-background);
    margin: 0;
}


.main-content-container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
